

.text-center {
   font-size: 25px;
   margin-top: 20px;
   border: 1px solid #6f6f6f;
   border-radius: 1rem;
   padding: 0.4rem;
}


.container-right {
   margin-left: 1rem;
}

.container-work {
   width: 100%;
   max-width: 1800px;
   margin: 0 auto;
}



.container-right {
   margin-top: 22px;
}