
.btn-layout:active {
   -webkit-transform: translate(0px, 5px);
   -ms-transform: translate(0px, 5px);
   transform: translate(0px, 5px);
   border-bottom: 1px solid #2ecc71;
}

.btn-layout-icon {
   margin-left: 0.5rem;
   font-size: 19px;
}