   .container-update {

      padding-top: 25px;

      h2 {
         font-weight: 700;
         font-size: 20;
      }
   }

   .card-update {

      .updates {
         padding: 10px;
         border-radius: 13px;
      } .card-att {
         padding: 10px;
      }
   }

.container-card-att {
   background-color: #f5f5f5;
   margin: 15px;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid #ebebeb;
}