.container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.mat-toolbar-row > .title {
   align-items: center;
   display: flex;
}

.header-top {
   background-color: var(--cor-brown-700);
   color: #FFFF;
   height: 50px;
}

.header-title {
   margin-top: 10px;
}