.from-search-bar {
   display: flex;
   align-items: center;
}


/* From uiverse.io by @alexruix */
.input-search {
   margin-left: 20px;
   width: 200px;
   line-height: 28px;
   border: 2px solid transparent;
   border-bottom-color: #777;
   padding: .2rem 0;
   outline: none;
   background-color: transparent;
   color: #0d0c22;
   transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.input-search::placeholder {
   color: #777;
}

.input-search:focus::placeholder {
   opacity: 0;
   transition: opacity .3s;
}